/node_modules
/storage/*.key
/storage/app/
/storage/media-library/
/vendor
/public/adminer/
/public/storage/
.env
.idea/
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.phpstorm.meta.php
_ide_helper.php
_ide_helper_models.php
.php-cs-fixer.cache
