// If you want to override variables do it here
@import "@coreui/coreui/scss/functions";
@import "@coreui/coreui/scss/variables";

$enable-ltr: true; /* stylelint-disable-line scss/dollar-variable-default */
$enable-rtl: true; /* stylelint-disable-line scss/dollar-variable-default */

// Import styles
@import "@coreui/coreui/scss/coreui";

@import "layout";

// If you want to add custom CSS you can put it here.
@import "custom";

//prevent overscroll
body {
    overscroll-behavior-y: none !important;
}

.btn-info, .btn-success, .btn-danger {
    color: white;
}
